
<div align="center">
        <div class="footer copyright" >
                    <a class="footer copyright" href="https://github.com/Anthony-Mendola">
                        <img src="https://i.imgur.com/RVS1tbS.png">
                    </a>
                    <a class="no-color nav-link" href="http://www.Anthony-Mendola.com/">
                        <p style="font-size: 13px;">Designed & Developed by Anthony Mendola</p>
                    </a>
        </div>

</div>
